.btn.chapter, .btn.book {
  margin-top: 15px;
}

.light {}

.dark {
  background-color: #000;
  color: #fff;
}

.dark form {
  color: #000;
}

.papyrus {
  background: url(http://i.imgur.com/bTWBaVV.gif);
  color: maroon;
}